<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="name.lizhe.lira.module.issue.dao.mapper.IssueMapper" >

	<insert id="createIssue" parameterType="name.lizhe.lira.module.issue.bean.IssueBean">
	<![CDATA[
		insert into Issues 
			(
				name, 
				type, 
				priority, 
				labels, 
				status, 
				description, 
				assignee, 
				reporter, 
				created_time, 
				updated_time, 
				resolved_time, 
				estimated, 
				remaining, 
				logged
			)
		values
			(
				#{name,jdbcType=VARCHAR},
				#{type,jdbcType=VARCHAR},
				#{priority,jdbcType=VARCHAR},
				#{labels,jdbcType=VARCHAR},
				#{status,jdbcType=VARCHAR},
				#{description,jdbcType=VARCHAR},
				#{assignee,jdbcType=INTEGER},
				#{reporter,jdbcType=INTEGER},
				#{created_time,jdbcType=DATE},
				#{updated_time,jdbcType=DATE},
				#{resolved_time,jdbcType=DATE},
				#{estimated,jdbcType=INTEGER},
				#{remaining,jdbcType=INTEGER},
				#{logged,jdbcType=INTEGER}
			)

	]]>
	</insert>
	
	<resultMap id="IssueBeanMap" type="name.lizhe.lira.module.issue.bean.IssueBean">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="priority" property="priority" jdbcType="VARCHAR" />
		<result column="labels" property="labels" jdbcType="VARCHAR" />
		<result column="status" property="status" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
		<result column="assignee" property="assignee" jdbcType="INTEGER" />
		<result column="reporter" property="reporter" jdbcType="INTEGER" />
		<result column="created_time" property="created_time" jdbcType="DATE" />
		<result column="updated_time" property="updated_time" jdbcType="DATE" />
		<result column="resolved_time" property="resolved_time" jdbcType="DATE" />
		<result column="estimated" property="estimated" jdbcType="INTEGER" />
		<result column="remaining" property="remaining" jdbcType="INTEGER" />
		<result column="logged" property="logged" jdbcType="INTEGER" />
		
	</resultMap>

	<select id="getIssues" resultMap="IssueBeanMap">
	<![CDATA[
		select
			id,name,summary,type,priority,labels,status,description,assignee,reporter,created_time,updated_time,resolved_time,estimated,remaining,logged
		from Issues
	]]>
	</select>
	
	
	
</mapper>